div(class="result bg-white shadow rounded border")
    div(id="info")
        h1 "#{song_name}"
        h3 by #{owner}
        h6 with the help of #{collaborators}
    button(id="play" class="btn" type="button")
        img(src="/images/play.png" alt="play button")
